*{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgb(39, 48, 77);
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    margin: 20px;
    width: 40%;
    height: 60%;
    display: flex;    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 1, 39);
    border-radius: 40px;
    padding: 20px;
}
.inputTitle{
    font-size: 30px;
    color: white;
}
.container > input {
    font-size: 20px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px 0;
    outline: none;
    width: 80%;
    background-color: white;
    text-align: center;
}
.container > button {
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(255,255,255);
    outline: none;
}
.container > button:hover{
    background-color: rgb(240, 240, 240);
}
.container > button:active{
    background-color: rgb(255,255,255);
}

.error{
    font-size: 30px;
}

.current-and-daily{
    width: 80%;
    display: flex;
    opacity: 0;
}
.current{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 1, 39);
    border-radius: 30px;
    flex:3;
    padding: 20px;
}
.current-title{
    color: white;
    margin-bottom: 10px;
    font-size: 30px !important;
    font-weight: 700;
    border-bottom: 2px rgb(0, 0, 0) solid;
}
.current-container{
    display: flex;
    align-items: center;
}
.current-temp{
    color: white;
    font-size: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#current-temp-img{
    width: 200px;
    color: black;
}
#current-temp{
    transform: translateY(-20%);
}
.current-inf-container {
    margin-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.current-inf{
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
}
.current-inf-icon{
    width: 30px;
    height: 30px;
    margin-right: 15px
}
.daily2 {
    color: white;
    background-color: rgb(0, 1, 39);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    flex: 2;
    padding: 10px;
    margin-left: 10px;
}
.daily-item{
    font-size: 30px;
    display: flex;
    align-items: center;
}
.day-name{
    width:60px;
}
.day-icon{
    height: 60px;
}
.day-max, .day.min{
    margin: 0 15px;
}

#fail{
    padding: 10px 20px;
    position: absolute;
    background-color: rgb(255, 215, 215);
    color: rgb(0, 1, 39);
    font-size: 50px;
    border-radius: 30px;
    pointer-events: none;
    opacity: 0;
}
.animate{
    animation: appearFail forwards 2s;
}

@keyframes appearFail {
    0%{
        opacity: 0;
        transform: translateY(-200%);
    }
    25%{
        opacity: 1;
        transform: translateY(0%);
    }
    75%{
        opacity: 1;
        transform: translateY(0%);
    }
    100%{
        opacity: 0;
        transform: translateY(-200%);
    }
}
@keyframes appear {
    0%{
        opacity: 0;
        transform: translateY(-200%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}